In [1]:

from generative_models.btcgan import BTCGAN
from utils.datagen import load_local_data_as_df
from os import mkdir, path
from numpy.random import choice, seed

SEED = 42
cwd = './'
datapath = 'data/texas'
rawPop, metadata = load_local_data_as_df(path.join(cwd, datapath))

/usr/local/lib/python3.8/dist-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
m = BTCGAN(metadata)
idx = choice(list(rawPop.index), size=1000, replace=False).tolist()
rawTrain = rawPop.loc[idx,:]
m.fit(rawTrain)

Fit data...:  89%|██████████████████████████▋   | 16/18 [00:04<00:00,  2.60it/s]/usr/local/lib/python3.8/dist-packages/sklearn/mixture/_base.py:263: ConvergenceWarning: Initialization 5 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn('Initialization %d did not converge. '
Fit data...: 100%|██████████████████████████████| 18/18 [00:05<00:00,  3.06it/s]

Learning structure use 0.3472s
{'TYPE_OF_ADMISSION': ['SEX_CODE', 'PAT_AGE'], 'ILLNESS_SEVERITY': ['TYPE_OF_ADMISSION', 'RISK_MORTALITY', 'LENGTH_OF_STAY'], 'ETHNICITY': ['RACE'], 'RISK_MORTALITY': ['PAT_AGE'], 'TOTAL_CHARGES_ACCOMM': ['LENGTH_OF_STAY'], 'TOTAL_CHARGES': ['TOTAL_CHARGES_ACCOMM'], 'TOTAL_CHARGES_ANCIL': ['TOTAL_CHARGES', 'TOTAL_CHARGES_ACCOMM'], 'TOTAL_NON_COV_CHARGES_ANCIL': ['TOTAL_NON_COV_CHARGES']}

Learning condition prob...: 100%|█████████████████| 8/8 [00:00<00:00,  8.34it/s]

In [3]:
m.generate_samples(500)

Sampling...: 100%|████████████████████████████████| 1/1 [00:03<00:00,  3.96s/it]

,DISCHARGE,TYPE_OF_ADMISSION,PAT_STATE,PAT_STATUS,SEX_CODE,RACE,ETHNICITY,ADMIT_WEEKDAY,PAT_AGE,RISK_MORTALITY,ILLNESS_SEVERITY,LENGTH_OF_STAY,TOTAL_CHARGES,TOTAL_NON_COV_CHARGES,TOTAL_CHARGES_ACCOMM,TOTAL_NON_COV_CHARGES_ACCOMM,TOTAL_CHARGES_ANCIL,TOTAL_NON_COV_CHARGES_ANCIL
0,2014Q1,1,TX,1,F,5,1,1,19,3,4,46,60443.218750,-275.483948,104796.335938,9.339233,33093.972656,-18.128994
1,2014Q4,2,TX,1,F,4,2,5,10,1,2,4,15219.127930,-110.606621,3979.778320,6198.766113,8743.166016,178.381546
2,2014Q3,4,TX,1,M,4,2,1,01,1,1,2,32869.253906,32488.837891,1823.940674,583.594238,31249.712891,27795.818359
3,2013Q4,1,TX,1,F,5,1,7,15,2,3,30,404253.062500,-32.076508,84807.476562,173.064148,453113.062500,-23.439680
4,2014Q4,3,TX,1,M,4,2,1,16,1,1,3,24792.349609,39.504478,4119.683105,-35.652637,23143.005859,-53.016205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2013Q4,1,TX,62,F,3,2,2,01,1,1,5,23986.359375,-220.346649,7015.111816,-17.636806,20202.687500,0.590043
496,2013Q2,1,TX,50,F,4,2,1,17,1,2,3,20512.369141,160.042175,6020.215820,4951.698242,19108.882812,42.840660
497,2013Q2,1,TX,1,F,4,2,3,18,3,4,3,17719.402344,313.249146,2854.938232,369.810150,14271.818359,103.923141
498,2014Q4,3,TX,1,F,4,2,4,01,2,1,3,13352.996094,-7.406441,2994.974121,149.390991,17188.072266,-122.730522
499,2013Q2,1,TX,1,M,3,2,1,16,3,2,3,25812.820312,233.014862,3451.199219,251.504120,14365.906250,-9.676512